# Config Files
.DS_Store
.vs_code
.idea
_notes
_scratch
testService
awsCognitoService/credentials.json
migrations/database.json

# Temp Files
userListService/.sls-simulate-registry
userListService/docker
**/credentials.json

# Scratch Files
graphql/test_schema.js
test/util.js
test/userListService/definitionReadTest.js
testService
_scratch
test/userListService/definitionReadTest.js
test/util.js

# Build Files
node_modules
**/node_modules
**/.serverless
*.zip
_scratch
**/credentials.json
test/util.js
userListService/.sls-simulate-registry
userListService/docker
userService/userService.zip
**/.serverless
test/userListService/definitionReadTest.js
**/credentials.json
commons/credentials.json
awsCognitoService/test.js
.history
.vscode
credentials.dev.json
credentials.prod.json
credentials.local_dev.json
credentials.local_prod.json

serverless-api\.iml
layers/nodejs/package-lock.json
